* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #f5f5f5;
    overflow-x: hidden;
}
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.head-title {
     background-color: #625f5f;
}
.head {
    position: relative;
    left: 200px;
    padding: 12px;
    font-size: 1.3rem;
    color: rgb(255, 225, 0);
}

.leftSide img {
    border: 6px solid rgb(255, 225, 0);
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.rightSide {
    margin-bottom: 70px;
    max-width: 700px;
}
.rightSide .name {
    font-size: 4rem;
    margin-left: 180px;
    color: rgb(255, 225, 0);
}
.rightSide .title {
    font-size: 1.3rem;
    margin-left: 200px;
    color: rgb(219, 197, 197);
}
.rightSide .bio {
    margin-top: 40px;
    font-size: 1.1rem;
    width: 40vw;
}

.rightSide button {
    padding: 17px;
    width: 150px;
    font-size: 1.3rem;
    border: 3px solid #000;
    border-radius: 100px;
    position: relative;
    left: 220px;
    top: 60px;
    background-color: rgb(255, 225, 0);
}
.rightSide button:hover {
    cursor: pointer;
     background-color: #ffbf00;
}
.social-icons a {
  text-decoration: none;
  color: #2134b1;
  font-size: 40px;
  transition: color 0.3s ease;
  position: relative;
  top: 110px;
  left: 260px;
}

.social-icons a:hover {
  color: #0077b5; 
}
.social-icons a:nth-child(2):hover {
   color: #b75d5d;
}

@media (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .head {
    position: relative;
    left: 130px;
  }
  .leftSide img {
    width: 160px;
    height: auto;
    margin: 0 auto 20px auto;
    display: block;
  }

  .rightSide .name {
    font-size: 1.8rem;
    margin: 10px 0;
  }

  .rightSide .title {
    font-size: 1rem;
    margin-bottom: 10px;
    position: relative;
    right: 100px;
  }

  .rightSide .bio {
    font-size: 0.9rem;
    margin: 30px auto;
    padding: 0 10px;
    width: 90vw;
  }

  .rightSide button {
    position: relative;
    left: 100px;
    font-size: 0.95rem;
    padding: 10px 25px;
    display: block;
  }

  .social-icons {
    margin-top: 15px;

  }

  .social-icons a {
    position: relative;
    left: 8px;
    font-size: 1.3rem;
    margin: 0 10px;
  }
}
